* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/Coffee_beans.png);
    font-family: sans-serif;
}

h1,
h2,
p {
    text-align: center;
}

h1,
h2 {
    font-family: Impact, serif;
}

.container {
    background-color: burlywood;
    margin: 20px auto 40px auto;
    max-width: 500px;
    padding: 20px;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    font-style: italic;
    font-size: 15px;
}

hr {
    background-color: brown;
    border-color: brown;
    height: 2px;
    margin: 10px 0 10px 0;
}

/* Styling for the menu list */

.menu-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
}

/* Styling for each list item */

.menu-list li {
    display: flex; 
    justify-content: space-between; 
    align-items: center;  
    padding: 5px 10px;   
}

.menu-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-content {
    text-align: center;
}

.footer-content a {
    color: black;
}

.footer-content a:hover {
    color: brown;
}

.footer-content p {
    margin-top: 10px;
    font-size: 14px;
}